<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>


        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>About Me</title>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    text-align: center;
                    background-color: #f0f0f0;
                }

                #container {
                    max-width: 800px;
                    margin: 0 auto;
                    padding: 20px;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }

                img {
                    max-width: 50%;
                    height: auto;
                }
            </style>
        </head>

        <body>
            <div id="container">
                <h1>About Me</h1>
                <img src="/img/my_image.png" alt="Your Name">
                <br>
                <h2>Achint Singh Rekhi</h2>
                <p>
                    I am an enthusiastic student deeply passionate about software development. My journey in the world
                    of technology has been a thrilling adventure, driven by my love for coding and the endless
                    possibilities it offers. When I'm not immersed in lines of code, you can find me on the sports
                    field, embracing the spirit of competition and teamwork, or gracefully gliding through the water as
                    I indulge in my favorite pastime, swimming. I believe in constantly pushing my boundaries, both in
                    the digital realm and in life's physical pursuits, to achieve new heights and discover the
                    extraordinary in the everyday
                </p>
                <a href="/img/AchintResume04.pdf">My Resume</a>
            </div>
        </body>

        </html>


        <!-- <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %> -->